* {
    background: white;
    margin: 0;
}

.text {
 font-size: 30px ;
 font-style: normal;
 font-weight: 900;
 -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}


.text1 {
    font-size: 30px ;
    font-style: normal;
    font-weight: 600;
    color: rgba(34, 33, 33, 0.8);
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.text2 {
    font-size: 30px ;
    font-style: normal;
    font-weight: 500;
    color: rgba(34, 33, 33, 0.6);
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.jstext {
    position: absolute;
    left: 90%;
    top: 1%;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    color:  #E5E5E5;
    filter: blur(30px);
    transition-duration: 0.3s;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

 .jstext:hover {
    filter: none;
    color: black
}

.text {
    margin-left: 1%;
    margin-top: 1%;
    font-family: SF UI Display;
    font-style: normal;
}

.text1 {
    margin-left: 1%;
    font-family: SF UI Display;
    font-style: normal;
}

.text2 {
    margin-left: 1%;
    font-family: SF UI Display;
    font-style: normal;
}