@font-face {
	font-family: 'SF UI Text Bold'; 
	src: url(SFUIText-Bold.ttf); 
}

@font-face {
	font-family: 'SF UI Display Medium'; 
	src: url(SFUIDisplay-Medium.ttf); 
}

@font-face {
	font-family: 'SF UI Display Semibold'; 
	src: url(SFUIDisplay-Semibold.ttf); 
}

* {
    background: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.text {
 width: 725px;
 height: 203px;
 font-size: 53px ;
 font-style: normal;
 font-weight: bold;
 -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

img {
    width: 342px;
    height: 342px;
}

.question {
    position: absolute;
    left: 31%;
    top: 23%;
    font-family: SF UI Text;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 86px;
    filter: blur(5px);
    transition-duration: 1s;
    color:  #E5E5E5;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.question2 {
    position: absolute;
    font-family: SF UI Text;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 86px;
    filter: blur(5px);
    transition-duration: 1s;
    color:  #E5E5E5;
    left: -3%;
    top: 63%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.jstext {
    position: absolute;
    left: 70%;
    top: 80%;
    font-family: SF UI Text;
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    line-height: 50px;
    color:  #E5E5E5;
    filter: blur(30px);
    transition-duration: 0.3s;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.jstext2 {
        position: absolute;
        left: 3%;
        top: 3%;
        font-family: SF UI Text;
        font-style: normal;
        font-weight: 800;
        font-size: 85px;
        line-height: 50px;
        color:  #E5E5E5;
        filter: blur(30px);
        transition-duration: 0.3s;
        -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}

.question:hover, .question2:hover, .jstext:hover,.jstext2:hover {
    filter: none;
    color: rgba(87, 87, 87, 0.027)
}

.text {
    font-family: SF UI Display;
    font-style: normal;
}

